.boards-container{
   margin-top: 5%;
}

.list-boards{
   display: block;
}

.single-board{

   min-width: 33.5%;
}


.md-card-single-board{

}

.single-board-title{
   height: 80px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
}

.view-btn{
   height: 40px;
   min-width: 70px;
}

