.boards-container{


}

.list-boards{

}

.single-board{

   min-width: 33.5%;
}


.md-card-single-board{

}

.single-board-title{
   height: 80px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
}

