<div class="boards-container" layout-align="center center" style="min-height: 400px;">
  <div class="boards-wrapper" layout="row" layout-align="center center" style="min-height: 400px;" layout-wrap flex="100">

    <div class="single-row" ng-repeat="row in rows" layout-gt-sm="row" layout-gt-xs="row"  layout-align="start center" flex="80">
      <div class="single-board" ng-repeat="board in row">
        <board boardName="{{board.name}}" open-menu="ctrl.openMenu($mdOpenMenu, $event)"></board>
      </div>
    </div>
  </div>

</div>
