<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div>
  <div layout="row" layout-xs="row" layout-align="center">
    <h3 class="col-md-12 text-center">Or sign up using your email</h3>
  </div>
  <div layout="row" layout-align="center">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off" flex="60">
      <md-card>
        <fieldset style="border-width: 0px !important;">
          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" required>
              <div ng-messages="vm.userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" required>
              <div ng-messages="vm.userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" lowercase required>
              <div ng-messages="vm.userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" lowercase required>
              <div ng-messages="vm.userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" uib-popover-trigger="focus" password-validator required>
              <md-card>
                <div ng-messages="vm.userForm.password.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Password is required.</p>

                  <div ng-repeat="passwordError in passwordErrors">
                    <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
                  </div>


                </div>
              </md-card>

            </div>
          </md-input-container>

          <div class="text-center form-group">
            <div layout="row" layout-align="center center">
              <div layout="column"  flex="85" layout-align="center center">
                <md-button type="submit" style="margin-left: 18%;" class="md-raised md-primary">Sign Up</md-button>
              </div>
              <div layout="column" flex="15" layout-align="center end">
                <md-button ui-sref="authentication.signin" class="show-signup md-accent">Sign in</md-button>
              </div>
            </div>
          </div>

          <div ng-show="vm.error" class="text-center text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </md-card>

    </form>
  </div>
</div>
