<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div style="height: 100%;">

  <div style="height: 100%;" layout="row" layout-align="center center">
    <form    name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off" flex="70">
      <md-card md-whiteframe="3">
        <div layout="row" layout-xs="row" layout-align="center">
          <h3 class="col-md-12 text-center">Sign up using your email</h3>
        </div>
        <fieldset style="border-width: 0px !important;">

          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" lowercase required>
              <div ng-messages="vm.userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" lowercase required>
              <div ng-messages="vm.userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <div class="form-group" show-errors>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password"  password-validator required>

            </div>
          </md-input-container>

          <div class="text-center form-group">
            <div layout="row" layout-align="center center">

                <md-button type="submit" class="md-raised md-primary">Sign Up</md-button>

            </div>
            <div layout="row" layout-align="end end">
              <md-button ui-sref="authentication.signin" class="show-signup md-accent">Sign in</md-button>
            </div>
          </div>

          <div ng-show="vm.error" class="text-center text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </md-card>

    </form>
  </div>
</div>
